---
import Layout from '../layouts/Layout.astro';
import PhotoGrid from '../components/PhotoGrid.astro';
---

<Layout title="Analog" description="Film photography.">
  <h1 class="gallery-label">Analog</h1>
  <PhotoGrid collection="analog" />
</Layout>
