---
import Layout from '../layouts/Layout.astro';
import Calendar from '../components/Calendar.astro';
---

<Layout title="Calendar" description="A photograph a month.">
  <h1 class="gallery-label">Calendar</h1>
  <Calendar />
</Layout>
