---
import Layout from '../layouts/Layout.astro';
import Locations from '../components/Locations.astro';
---

<Layout title="Locations" description="Tokyo Memory Co shoot locations.">
  <h1 class="page__title">Where We Shoot</h1>
  <Locations />
</Layout>
